* {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

body {
	background: #100a1c;
    background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
    background-attachment: fixed;
    color: #6cacc5;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden
}
.name {
    margin-top: 8vw;
}
.name h1 {
	font-weight: 300
}
.name p {
	color: #8c5059;
	display: block;
	width: 100%;
	background: -webkit-linear-gradient(45deg,  #c97874 10%, #463042 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btns {
	width: 25vw;
    margin-top: 5vw;
}
.btns div {
    display: flex;
    justify-content: space-between;
}
button {
    width: 4vw;
    height: 4vw;
    font-size: 180%;
    text-align: center;
    background-color: rgba(42, 50, 113, .28);
    border: none;
    margin: 1vw;
    padding: 0;
    outline: none;
    transition: .4s;
    color: #6cacc5;
    text-decoration: none
}
button::-moz-focus-inner 
{
  border: 0;
}
button:hover {
    cursor: pointer;
    background-color: #201e40;
}

.current-num {
    display: block;
    position: relative;
    top: 2vw;
    right: 0.66vw;
    font-size: 160%;
}

span {
    position: absolute;
    color: #fff;
    left: 47.5%;
    top: 30%;
    width: 5vw;
    height: 5vw;
    padding-top: 50px;
    transition: .3s;
    z-index: -1;
    opacity: 0;
    font-weight: 100;
}
.span-eff {
    transform: scale(3);
    font-size: 200%;
}

@media screen and (max-height: 1323px) {
    .btns {
        width: 30vw;
    }
}